@import "tailwindcss";

:root {
  --background: #f6ece1;
  --foreground: #000000;
  --accent: #fe6500;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-accent: var(--accent);
  --color-dark: #000000;
  --color-light: #f6ece1;
  --font-sans: var(--font-plus-jakarta-sans);
}

html {
  scroll-behavior: smooth;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-plus-jakarta-sans), sans-serif;
  font-weight: 400;
}
